/*****************************************
Table Of Contents:
- General Styles
- Header
- Media Queries
******************************************/

/*****************************************
Colors:
- Background - light gray #f8f8f8
- Buttons - blue #049cfd 
- Heading text - black #122d54
- Body text - gray #585f63
******************************************/


/**************************/
/*     General Styles     */
/**************************/
body,
html {
    width: 100%;
	height: 100%;
	background-color: rgb(34, 33, 33);
}

body, p {
	color: #e3e3e3; 
	font: 400 1rem/1.625rem "Open Sans", sans-serif;
}

h1 {
	color: #e3e3e3;
	font-weight: 700;
	font-size: 2.5rem;
	line-height: 3.25rem;
}

h2 {
	color: #122d54;
	font-weight: 700;
	font-size: 2rem;
	line-height: 2.625rem;
}


.p-large {
	font-size: 1.25rem;
	line-height: 1.875rem;
}

.p-larger {
	font-size: 1.5rem;
	line-height: 2rem;
}

.footer{
	margin-top: 3rem;
}

a {
	color: #585f63;
	text-decoration: underline;
}

a:hover {
	color: #585f63;
	text-decoration: underline;
}



select {
    /* you should keep these first rules in place to maintain cross-browser behavior */
    -webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    background-image: url('../images/down-arrow.png');
    background-position: 96% 50%;
    background-repeat: no-repeat;
    outline: none;
}


/******************/
/*     Header     */
/******************/
.header {
	position: relative;
	min-height: 100%;
	padding-top: 4rem;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
    url("/assets/images/background.jpg") no-repeat center fixed;
	background-size: cover;
}

.header .text-container {
	margin-bottom: 4rem;
	text-align: center;
}

.header h1 {
	margin-bottom: 1rem;
}

.header .p-large {
	margin-bottom: 2rem;
}



/*************************/
/*     Media Queries     */
/*************************/	
/* Min-width 768px */
@media (min-width: 768px) {

	/* General Styles */
	h1 {
		font-size: 3rem;
		line-height: 3.75rem;
	}
	/* Header */
	.header {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
	}
}
/* end of min-width 768px */


/* Min-width 992px */
@media (min-width: 992px) {
	
	/* Header */
	.header {
		padding-top: 4.75rem;
	} 

	.header .text-container {
		margin-bottom: 0;
		text-align: left;
	}
}
/* end of min-width 992px */


/* Min-width 1200px */
@media (min-width: 1200px) {

	/* Header */

	.header .text-container {
		margin-bottom: 8rem;
		margin-left: 3rem;
	}

	.header h1 {
		font-size: 4.5rem;
		line-height: 4.5rem;
		letter-spacing: -0.4px;
	}
}
/* end of min-width 1200px */